@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");
@font-face {
  font-family: 'CookieRunOTF-Bold';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/CookieRunOTF-Bold00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

ul, ol, dl {
  list-style: none;
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.section {
  padding: 2.5em 0;
}

.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2.5em;
  font-family: 'CookieRunOTF-Bold', sans-serif;
  margin: 0 auto;
  position: relative;
}

.title {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(40%, #ffd71e)) no-repeat;
  background: linear-gradient(transparent 60%, #ffd71e 40%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s;
  transition: background-size .4s;
}

.title.active {
  background-size: 100% 100%;
}

.top_header li a {
  font-family: 'CookieRunOTF-Bold', sans-serif;
}

.header_download_btn {
  font-family: 'CookieRunOTF-Bold';
  color: #000;
  font-size: 1.75em;
  background: #f2f2f2;
  border-radius: 0.25em;
  border: 2px solid #000;
  padding: 1px 6px;
}

.header {
  width: 100%;
  background: #fff;
}

.header .type_normal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .type_normal .simple_type {
  width: 100%;
  padding: 1em;
  display: none;
}

.header .type_normal .simple_type .hamburger_menu {
  display: none;
  width: 42px;
  height: 3rem;
}

.header .type_normal .simple_type .hamburger_menu .hamburger_btn {
  display: block;
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 0.159091em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .type_normal .simple_type .hamburger_menu .hamburger_btn::before, .header .type_normal .simple_type .hamburger_menu .hamburger_btn::after {
  content: '';
  width: 100%;
  height: 4px;
  background: #fff;
  border-radius: 0.159091em;
  position: absolute;
  left: 0;
}

@media screen and (max-width: 639px) {
  .header .type_normal .simple_type .hamburger_menu .hamburger_btn::before, .header .type_normal .simple_type .hamburger_menu .hamburger_btn::after {
    height: 6px;
  }
}

.header .type_normal .simple_type .hamburger_menu .hamburger_btn::before {
  top: -15px;
}

.header .type_normal .simple_type .hamburger_menu .hamburger_btn::after {
  top: 15px;
}

@media screen and (max-width: 639px) {
  .header .type_normal .simple_type .hamburger_menu .hamburger_btn {
    height: 6px;
  }
}

@media screen and (max-width: 1199px) {
  .header .type_normal .simple_type .hamburger_menu {
    display: block;
  }
}

.header .type_normal .simple_type .hamburger_menu.active {
  position: fixed;
  top: 16px;
  z-index: 100;
}

@media screen and (max-width: 639px) {
  .header .type_normal .simple_type .hamburger_menu {
    width: 49px;
  }
}

.header .type_normal .simple_type .devgames_logo {
  display: none;
  width: 13.5rem;
}

.header .type_normal .simple_type .devgames_logo svg {
  fill: #fff;
  margin-top: 0.25rem;
}

@media screen and (max-width: 1199px) {
  .header .type_normal .simple_type .devgames_logo {
    display: block;
  }
}

@media screen and (max-width: 639px) {
  .header .type_normal .simple_type .devgames_logo {
    width: 150px;
  }
}

@media screen and (max-width: 1199px) {
  .header .type_normal .simple_type {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 639px) {
  .header .type_normal .simple_type {
    -webkit-box-align: normal;
        -ms-flex-align: normal;
            align-items: normal;
  }
}

@media screen and (max-width: 1199px) {
  .header {
    background: transparent;
    position: absolute;
  }
}

.header_logo a {
  display: block;
  padding: 0.25em 0;
}

.header_logo a img {
  max-width: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 1199px) {
  .header_logo a {
    display: none;
  }
}

.top_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top_header li {
  line-height: 5em;
  margin-left: 2.5em;
}

.top_header li a {
  font-size: 1.5em;
  position: relative;
}

.top_header li a span {
  position: relative;
  z-index: 5;
}

.top_header li a {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(40%, #ffd71e)) no-repeat;
  background: linear-gradient(transparent 60%, #ffd71e 40%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s;
  transition: background-size .4s;
}

.top_header li a:hover {
  background-size: 100% 100%;
}

@media screen and (max-width: 1199px) {
  .top_header {
    display: none;
  }
}

.header_fixed {
  width: 100%;
  background: #fff;
  position: fixed;
  top: -81px;
  z-index: 99;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header_fixed .type_fixed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_fixed .type_fixed .fixedheader_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_fixed .type_fixed .header_download {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_fixed .type_fixed .header_download .header_download_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 173px;
  height: 50px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: -0.05em;
  position: relative;
}

.header_fixed .type_fixed .header_download .header_download_btn .button_light {
  position: absolute;
  top: 2px;
  left: 2px;
}

.header_fixed .type_fixed .header_download .header_download_btn .download_icon {
  width: 29px;
  height: 27px;
  margin: 0.25em 0.5em 0 0;
}

@media screen and (max-width: 1199px) {
  .header_fixed .type_fixed .header_download {
    margin-right: 30px;
  }
}

.header_fixed.active {
  top: 0;
}

@media screen and (max-width: 1199px) {
  .header_fixed {
    background: rgba(25, 29, 36, 0.95);
    padding: 1em 0;
  }
}

#main {
  min-height: 772px;
  height: 40.208333333333336vw;
  position: relative;
  overflow: hidden;
}

#main::before {
  content: '';
  width: 100%;
  height: 100%;
  background: url(../../image/main_background.png) no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

@media screen and (max-width: 639px) {
  #main::before {
    background-image: url(../../image/main_background_mobile.jpg);
  }
}

#main .main_content_wrap {
  width: 100%;
  position: absolute;
  bottom: 2.5rem;
  left: 0;
}

#main .main_content_wrap .main_logo_wrap .main_logo {
  height: 300px;
  text-align: center;
}

#main .main_content_wrap .main_logo_wrap .main_logo img {
  height: 100%;
  width: auto;
}

@media screen and (max-width: 1023px) {
  #main .main_content_wrap .main_logo_wrap .main_logo {
    height: 240px;
  }
}

@media screen and (max-width: 639px) {
  #main .main_content_wrap .main_logo_wrap .main_logo {
    height: 44.53125vw;
  }
}

#main .main_content_wrap .download_btn_wrap .btnlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .main_content_wrap .download_btn_wrap .btnlist li {
  margin: 10px 0 0 10px;
}

@media screen and (max-width: 1023px) {
  #main .main_content_wrap .download_btn_wrap .btnlist li:nth-child(2n-1) {
    text-align: right;
  }
}

#main .main_content_wrap .download_btn_wrap .btnlist li a {
  display: block;
  width: 100%;
  margin: auto;
}

#main .main_content_wrap .download_btn_wrap .btnlist li a img {
  max-width: 100%;
}

@media screen and (max-width: 639px) {
  #main .main_content_wrap .download_btn_wrap .btnlist li a {
    width: 9.75rem;
  }
}

@media screen and (max-width: 1023px) {
  #main .main_content_wrap .download_btn_wrap .btnlist li {
    width: 33%;
  }
}

@media screen and (max-width: 639px) {
  #main .main_content_wrap .download_btn_wrap .btnlist li {
    width: 25%;
  }
}

@media screen and (max-width: 1023px) {
  #main .main_content_wrap .download_btn_wrap .btnlist {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1023px) {
  #main .main_content_wrap {
    bottom: 3.5rem;
  }
}

@media screen and (max-width: 639px) {
  #main .main_content_wrap {
    bottom: 8rem;
  }
}

@media screen and (max-width: 639px) {
  #main {
    height: 150vw;
  }
}

.hot_issue_wrap {
  background: #f2f2f2;
}

.hot_issue_wrap .inner {
  position: relative;
}

.hot_issue_wrap .inner .hot_issue_more {
  font-size: 1.25em;
  position: absolute;
  top: 18px;
  right: 12px;
}

@media screen and (max-width: 1199px) {
  .hot_issue_wrap .inner .hot_issue_more {
    right: 42px;
  }
}

@media screen and (max-width: 639px) {
  .hot_issue_wrap .inner .hot_issue_more {
    position: static;
    display: block;
    color: #161515;
    width: 100%;
    font-family: 'CookieRunOTF-Bold', sans-serif;
    font-size: 1.5em;
    text-align: center;
    background: #fff;
    border: 1px solid #ddd;
    padding: 1em 0;
  }
}

@media screen and (max-width: 639px) {
  .hot_issue_wrap .inner {
    padding: 0 8px;
  }
}

.hot_issue_wrap .title {
  margin-bottom: 30px;
}

.hot_issue_wrap .hot_issue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.hot_issue_wrap .hot_issue .issue_box {
  width: calc(100% / 4);
  margin-right: 30px;
}

.hot_issue_wrap .hot_issue .issue_box:last-child {
  margin-right: 0;
}

.hot_issue_wrap .hot_issue .issue_box a {
  display: block;
  height: 100%;
  font-size: 18px;
  letter-spacing: -0.025em;
  background: #fff;
  border: 1px solid #ddd;
}

.hot_issue_wrap .hot_issue .issue_box a .issue_imgframe {
  display: block;
  width: 100%;
  height: 155px;
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
  .hot_issue_wrap .hot_issue .issue_box a .issue_imgframe {
    height: auto;
  }
}

.hot_issue_wrap .hot_issue .issue_box a .issue_imgframe img {
  width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.hot_issue_wrap .hot_issue .issue_box a .issue_content_box {
  display: block;
  width: 80%;
  padding: 20px 10px;
}

.hot_issue_wrap .hot_issue .issue_box a .issue_content_box .issue_content {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(40%, #ffd71e)) no-repeat;
  background: linear-gradient(transparent 60%, #ffd71e 40%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s;
  transition: background-size .4s;
}

.hot_issue_wrap .hot_issue .issue_box a:hover .issue_imgframe img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.hot_issue_wrap .hot_issue .issue_box a:hover .issue_content {
  background-size: 100% 100%;
}

@media screen and (max-width: 1199px) {
  .hot_issue_wrap .hot_issue .issue_box {
    width: calc(50% - 15px);
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 639px) {
  .hot_issue_wrap .hot_issue .issue_box {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .hot_issue_wrap .hot_issue {
    padding: 0 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (max-width: 1199px) {
  .hot_issue_wrap .hot_issue {
    padding: 0;
  }
}

.main_slide .inner {
  position: relative;
}

.main_slide .sub_title {
  font-size: 1.125em;
  text-align: center;
  margin: 12px 0 18px;
}

.main_slide .main_slide_title_wrap {
  width: calc((6.875rem * 5) + 150px);
  height: 6.985rem;
  margin: 20px auto;
  overflow: hidden;
}

.main_slide .main_slide_title_wrap .slide_title_center {
  position: relative;
  width: calc(6.875rem + 30px);
  height: 6.985rem;
  margin: auto;
}

.main_slide .main_slide_title_wrap .slide_title_center .slide_title_box {
  position: absolute;
  margin: 0 15px;
}

.main_slide .main_slide_title_wrap .slide_title_center .slide_title_box a {
  color: #4db2a3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.875rem;
  height: 6.875rem;
  border-radius: 50%;
  border: 1px solid #4db2a3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.main_slide .main_slide_title_wrap .slide_title_center .slide_title_box a span {
  text-align: center;
}

.main_slide .main_slide_title_wrap .slide_title_center .slide_title_box.active a {
  color: #fff;
  background: #4db2a3;
  font-weight: bold;
}

@media screen and (max-width: 1199px) {
  .main_slide .main_slide_title_wrap {
    display: none;
  }
}

.main_slide .main_slide_box {
  padding: 2.5em 1em;
  overflow: hidden;
  -webkit-box-shadow: inset -11px 0px 19px rgba(255, 255, 255, 0.5);
          box-shadow: inset -11px 0px 19px rgba(255, 255, 255, 0.5);
  position: relative;
}

.main_slide .main_slide_box .main_slide_center {
  position: relative;
  z-index: 5;
  width: 50rem;
  height: 615px;
  margin: auto;
}

.main_slide .main_slide_box .main_slide_center .slide_box {
  width: 100%;
  -webkit-transform: translateY(12%) scale(0.9);
          transform: translateY(12%) scale(0.9);
  opacity: .5;
  position: absolute;
  z-index: 5;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  transition: opacity 1s, transform 1s, -webkit-transform 1s;
}

.main_slide .main_slide_box .main_slide_center .slide_box img {
  max-width: 100%;
}

.main_slide .main_slide_box .main_slide_center .slide_box .slide_info {
  padding: 30px;
  display: none;
}

.main_slide .main_slide_box .main_slide_center .slide_box .slide_info .info_title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 3px;
}

.main_slide .main_slide_box .main_slide_center .slide_box .slide_info .info_title {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, transparent), color-stop(40%, #ffd71e)) no-repeat;
  background: linear-gradient(transparent 60%, #ffd71e 40%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size .4s;
  transition: background-size .4s;
}

@media screen and (max-width: 639px) {
  .main_slide .main_slide_box .main_slide_center .slide_box .slide_info .info_title {
    font-size: 20px;
  }
}

.main_slide .main_slide_box .main_slide_center .slide_box .slide_info .info_content {
  font-size: 22px;
}

@media screen and (max-width: 639px) {
  .main_slide .main_slide_box .main_slide_center .slide_box .slide_info .info_content {
    font-size: 16px;
  }
}

@media screen and (max-width: 1199px) {
  .main_slide .main_slide_box .main_slide_center .slide_box .slide_info {
    padding: 20px;
  }
}

.main_slide .main_slide_box .main_slide_center .slide_box.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 13px rgba(0, 0, 0, 0.2);
}

.main_slide .main_slide_box .main_slide_center .slide_box.active .slide_info {
  display: block;
}

.main_slide .main_slide_box .main_slide_center .slide_box.active .slide_info .info_title {
  background-size: 100% 100%;
}

@media screen and (max-width: 1199px) {
  .main_slide .main_slide_box .main_slide_center {
    width: 90.625vw;
    height: 715px;
  }
}

@media screen and (max-width: 1023px) {
  .main_slide .main_slide_box .main_slide_center {
    height: 655px;
  }
}

@media screen and (max-width: 955px) {
  .main_slide .main_slide_box .main_slide_center {
    height: 600px;
  }
}

@media screen and (max-width: 885px) {
  .main_slide .main_slide_box .main_slide_center {
    height: 560px;
  }
}

@media screen and (max-width: 790px) {
  .main_slide .main_slide_box .main_slide_center {
    height: 520px;
  }
}

@media screen and (max-width: 690px) {
  .main_slide .main_slide_box .main_slide_center {
    height: 465px;
  }
}

@media screen and (max-width: 639px) {
  .main_slide .main_slide_box .main_slide_center {
    height: 430px;
  }
}

.main_slide .main_slide_box .slide_frame {
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset -11px 0px 8px #fff, inset 11px 0px 8px #fff;
          box-shadow: inset -11px 0px 8px #fff, inset 11px 0px 8px #fff;
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
}

.main_slide .main_slide_btnbox button {
  position: absolute;
  top: 17%;
  border: none;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  width: 49px;
  height: 49px;
  opacity: 0.5;
  font-size: 0;
}

.main_slide .main_slide_btnbox button svg {
  width: 100%;
  height: 100%;
}

.main_slide .main_slide_btnbox button svg path {
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.main_slide .main_slide_btnbox button:hover {
  opacity: 1;
}

.main_slide .main_slide_btnbox button.main_prevbtn {
  left: 15%;
}

@media screen and (max-width: 1199px) {
  .main_slide .main_slide_btnbox button.main_prevbtn {
    left: 2%;
  }
}

@media screen and (max-width: 639px) {
  .main_slide .main_slide_btnbox button.main_prevbtn {
    left: 0;
  }
}

.main_slide .main_slide_btnbox button.main_nextbtn {
  right: 15%;
}

.main_slide .main_slide_btnbox button.main_nextbtn path {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (max-width: 1199px) {
  .main_slide .main_slide_btnbox button.main_nextbtn {
    right: 2%;
  }
}

@media screen and (max-width: 639px) {
  .main_slide .main_slide_btnbox button.main_nextbtn {
    right: 0;
  }
}

@media screen and (max-width: 1199px) {
  .main_slide .main_slide_btnbox button {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

@media screen and (max-width: 639px) {
  .main_slide .main_slide_btnbox button {
    top: 55%;
  }
}

.cookie_info_wrap {
  min-height: 800px;
  height: 40.208333333333336vw;
  background: url(../../image/cookieinfo_background.jpg) no-repeat center center/cover;
  padding: 0;
}

.cookie_info_wrap .title {
  margin-top: 40px;
}

@media screen and (max-width: 639px) {
  .cookie_info_wrap .title {
    font-size: 30px;
    margin-top: 30px;
  }
}

.cookie_info_wrap .cookie_info_content {
  font-size: 1.125rem;
  margin-top: 28px;
  text-align: center;
  text-shadow: 0 0 0.5em #fff;
}

.cookie_info_wrap .cookie_info_content .line_change_02 {
  display: none;
}

@media screen and (max-width: 639px) {
  .cookie_info_wrap .cookie_info_content .line_change_02 {
    display: block;
  }
}

@media screen and (max-width: 639px) {
  .cookie_info_wrap .cookie_info_content {
    font-size: 1rem;
    margin-top: 12px;
  }
}

@media screen and (max-width: 639px) {
  .cookie_info_wrap {
    background-image: url(../../image/cookieinfo_background_mobile.jpg);
  }
}

.footer {
  background: #191d24;
  padding: 2.75rem 0 4.375rem;
}

.footer .sns_btn_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 3em;
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn {
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  margin: 0 10px;
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn svg {
  width: 100%;
  height: 100%;
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn svg path {
  -webkit-transform: translate(-3px, -3px);
          transform: translate(-3px, -3px);
  fill: #fff;
}

@media screen and (max-width: 639px) {
  .footer .sns_btn_wrap .sns_btn_box .sns_btn svg path {
    -webkit-transform: translate(1px, 1px) scale(0.6);
            transform: translate(1px, 1px) scale(0.6);
  }
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn.type_naver {
  background: #3AAE38;
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn.type_youtube {
  background: #C7252D;
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn.type_facebook {
  background: #3C5C99;
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn.type_twitter {
  background: #37AEE1;
}

.footer .sns_btn_wrap .sns_btn_box .sns_btn.type_instar {
  background: url(../../image/sns_bg.png) no-repeat center center/cover;
}

@media screen and (max-width: 639px) {
  .footer .sns_btn_wrap .sns_btn_box .sns_btn {
    width: 44px;
    height: 44px;
    margin: 0 5px;
  }
}

.footer .policy_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 13px;
}

.footer .policy_wrap .policy_btn a {
  display: block;
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
  line-height: 1;
  padding: 0.6875rem 1.875rem;
  margin: 0 0.625rem;
}

.footer .policy_wrap .policy_btn a.bold_style {
  font-weight: 700;
}

.footer .policy_wrap .policy_btn a:hover {
  color: #191d24;
  background: #fff;
}

@media screen and (max-width: 639px) {
  .footer .policy_wrap .policy_btn a {
    margin: 9px 18px;
  }
}

@media screen and (max-width: 639px) {
  .footer .policy_wrap .policy_btn {
    width: 100%;
  }
}

.footer .footer_info {
  color: #fff;
  text-align: center;
}

.footer .footer_info address {
  font-style: normal;
  margin: 6px 0;
}

.footer .footer_info p {
  margin: 3px 0;
}

.footer .footer_info p span {
  margin-right: 5px;
}

.footer .footer_logo_box {
  margin-top: 23px;
  text-align: center;
}

.footer .footer_logo_box .footer_logo {
  width: 224px;
  font-size: 29px;
  fill: #fff;
}

@media screen and (max-width: 639px) {
  .footer .footer_logo_box .footer_logo {
    width: 339px;
  }
}
/*# sourceMappingURL=index.css.map */